:root {
    --background-color: #ffffff;
    --footer-color: #f4f4f4;
    --secondary-color: #c7cfc8;
    --accent-color: #194f23;

    --separators-color: #194f2321;
    --shadow-color: #00000099;

    --title-color: #000000;
    --text-color: #000000;
    --subtext-color: #222222;
    --error-color: #bd0d0d;

    --button-color: #194f23;
    --button-focus-color: #194f2324;
    --button-text-color: #ffffff;
}
