:root {
    --background-color: #ffffff;
    --secondary-color: #c7cfc8;
    --accent-color: #194f23;

    --separators-color: #194f2321;
    --shadow-color: #00000099;

    --title-color: #000000;
    --text-color: #000000;

    --button-background-color: #ffffff;
    --button-text-color: #ffffff;
    --border-color: #ffffff;
}
