@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

$title-font: "Roboto Condensed", sans-serif;
$text-font: "Merriweather", serif;

$basic-padding-md: 60px;
 
$Xsm: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


$book-section-width-Xsm: 60px;
$book-section-width-sm: 60px;
$book-section-width-md: 175px;
$book-section-width-lg: 60px;
$book-section-width-xl: 60px;
$book-section-width-xxl: 60px;
