.slider-section {
    border-bottom: 1px solid var(--accent-color);
    margin: 5px auto;
    margin-bottom: $basic-margin-y-md;
    width: 80%;
}

.splide__slide {
    margin: $basic-margin-y-md 15px $basic-margin-y-md 0;
    margin-right: 15px;
    width: $book-section-width-md !important;
    @media (max-width: $md) {
        width: $book-section-width-sm !important;
    }
}

.splide__slide img {
    height: 200px;
    object-fit: contain;
    @media (max-width: $md) {
        height: 180px;
    }
}

.slider-title {
    @include text-base(var(--title-color), $title-font, 400, $size-20);
    text-transform: capitalize;
}
