.container {
  width: 50%;
  @include flex-container(column, 20px, center, space-between);
  background-color: var(--section-bc-color);
  padding: 40px 10px;
  margin: 20px auto;

  border-radius: 2rem;
  box-shadow: 0 4px 10px var(--shadow-color);

  @include text-base(var(--text-color), $text-font, $font-size: 20px);
  text-align: center;
  line-height: 200%;

  .blur {
    display: inline-block;
    background-color: var(--secondary-color);
    color: transparent;
    font-size: 20px;
    border-radius: 4px;
    padding: 0 10px;
    filter: blur(6px);
    transition: 0.3s ease-in-out;
    user-select: none;
  }
}

h2 {
  @include text-base(var(--title-color), $text-font, $font-size: 40px);
  text-align: center;
  line-height: 200%;
}

.community-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto;
  width: 85%;

  .community-grid--element {
    @include flex-container(column, 20px, center, center);
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--shadow-color);
    background-color: var(--section-bc-color);
    padding: 40px 10px;

    &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease 0s;
    }

    img {
      height: 50px;
      object-fit: contain;
      cursor: auto !important;
    }

    p {
      @include text-base(var(--text-color), $text-font, $font-size: 20px);
      text-align: center;
      line-height: 200%;
    }
  }
}

footer {
  @include flex-container(row, 0px, center, space-between);
  background-color: var(--footer-color);
  padding: 40px 90px;
  margin-top: 40px;

  ul {
    @include flex-container(row, 50px, center, space-between);
    list-style: none;
  }
  li a {
    @include text-base(var(--active-text-color), $font-weight: 300, $font-size: 15px);
    text-decoration: none;
  }
}

.footer-logo {
  @include flex-container(column, 0px, start, center);

  div {
    @include flex-container(row, 0px, center, space-between);
  }
  img {
    @include img-base(45px, 30px);
  }
  h3 {
    @include text-base(var(--title-color), $font-weight: 300, $font-size: 45px);
  }
  p {
    padding-left: 30px;
    @include text-base(var(--text-color), $font-weight: 300, $font-size: 15px);
  }
}

.auth-buttons {
  @include flex-container(column, 10px, center, center);

  .register {
    background-color: var(--button-color);
    @include text-base(var(--button-text-color), $font-weight: 400, $font-size: 15px);
    @include btn-base();
  }
  .login {
    background-color: var(--background-color);
    @include text-base(var(--active-text-color), $font-weight: 400, $font-size: 15px);
    @include btn-base();
  }
}
