@import "./scss/base";
@import "./scss/variables";
@import "./scss/_themes.scss";
@import "./scss/mixins";

body {
    background-color: var(--background-color);
}

.no-scroll {
    overflow: hidden;
    transition: width 2s;
}

.separator {
    width: calc(100vw - 120px);
    height: 1px;
    border: 1px solid var(--separators-color);
    margin: 0 auto;
}

@import "./scss/components/navbar";
@import "./scss/pages/main-page";
@import "./scss/components/login-popup";
