@import "./scss/base";
@import "./scss/_basic-variables";
@import "./scss/_themes.scss";
@import "./scss/mixins";

body {
    background-color: var(--background-color);
}

.no-scroll {
    overflow: hidden;
    transition: width 2s;
}

.separator {
    width: calc(100vw - 120px);
    height: 1px;
    border: 1px solid var(--separators-color);
    margin: 0 auto;
}

.icon {
    @include icon-base(20px, 20px, var(--accent-color));
    @media (min-width: $xxl) and (max-width: $xxxl) {
        @include icon-base(25px, 25px, var(--accent-color));
    }
    @media (min-width: $xxxl) {
        @include icon-base(30px, 30px, var(--accent-color));
    }
}

@import "./scss/components/navbar";
@import "./scss/pages/main-page";
@import "./scss/components/login-popup";
@import "./scss/components/sliders/catalogue";
@import "./scss/components/sliders/sliders";
